{% import "components.html" as c with context %}
<div class="dialog danger" id="remove" hx-morph-skip>
  <h3>{{ t.text("computers.remove_confirm") }}</h3>
  <p class="st">{{ t.text("computers.remove_hint") }}</p>
  <button class="btn danger confirm" hx-delete="/computers/{{ computer_id }}" hx-target="#main">{{ c.icon("trash-2") }} {{ t.text("computers.remove_yes") }}</button>
  <a class="btn" href="/computers/{{ computer_id }}" hx-get="/computers/{{ computer_id }}" hx-target="#main">{{ t.text("computers.cancel") }}</a>
</div>
